.sectionun {
    background: rgb(170, 46, 38);
    background: -moz-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    background: -webkit-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    background: linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa2e26", endColorstr="#202020", GradientType=1);
    height: 600px;
}

.about {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titre {
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    color: white;
}

.paragabout {
    color: white;
    font-size: 20px;
}

.ariane {
    color: white;
    font-size: 19px;
}

.arianered {
    color: red;

}

.titre_cyber {
    font-size: 50px;
}

.cyber {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 250px;
    margin-right: 250px;
}

.cyberright {
    width: 50%;
}

.cyberleft {
    padding-top: 70px;
    width: 50%;
}

.englobe {
    display: flex;

}

.liste {
    padding: 0;
}

.fa-shield-virus:before {
    color: red;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    color: rgb(153, 153, 153);
    font-family: poppins;
    font-size: 17px;
}

.btn {
    display: flex;
    justify-content: center;
}

.order {
    margin-right: 10px;
    background-color: red;
    border: solird red 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.free {
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.why {
    margin-top: 40px;
}

.pourquoi {
    text-align: center;
}

.paragwhy {
    margin: 0;
    padding: 0;
}

.titrewhy {
    margin-top: 20px;
    margin-bottom: 20px;
}

.englobecarte {
    display: flex;
    padding-right: 200px;
    padding-left: 200px;
}

.card {
    background-color: rgb(25, 25, 25);
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.cartewhy {
    margin-top: 30px;
}

.fa-user-secret,
.iconserveur,
.iconindus {
    font-size: 30px;
    color: rgb(155, 155, 155);
    fill: rgb(155, 155, 155);
}

.iconcarte {
    display: flex;
    background-color: rgb(32, 32, 32);
    justify-content: center;
    align-items: center;
    width: 45px;
    padding: 10px;
    border-radius: 5px;
}

.iconcarte:hover {
    background-color: rgb(170, 46, 38);
    transition: .2s;
}

.imgcarte:hover{
    filter: brightness(200%) contrast(100%);
    transition: .2s;
}

.titrecarte {
    font-family: Fjalla One;
    font-size: 25px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}

.advanced {
    display: flex;
    margin: 100px 250px 0 250px;
}

.cyberred {
    color: rgb(170, 46, 38);
}
.btn_adv{
    margin-top: 40px;
}

.contact{
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
}


.carte_projet{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    padding-left: 270px;
    padding-right: 200px;
}

.card_projet{
    background-color: rgb(25, 25, 25);
    padding: 30px 50px 30px 50px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 15px;
    width: 200px;
    height: 200px;
}

.titre_carte_projet{
    margin-top:10px;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
}

.count{
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}