.sectionun {
    background: rgb(170, 46, 38);
    background: -moz-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    background: -webkit-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    background: linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgb(32, 32, 32) 41%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#aa2e26", endColorstr="#202020", GradientType=1);
    height: 600px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.titre {
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    color: white;
}

.paragabout {
    color: white;
    font-size: 20px;
}

.ariane {
    color: white;
    font-size: 19px;
}

.arianered {
    color: red;

}

.titre_cyber {
    font-size: 50px;
}

.cyber {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0 auto;
    width: 65%;
}

.cyberright {
    width: 50%;
}

.imageabout {
    width: 100%;
    height: auto;
}

.cyberleft {
    padding-top: 70px;
    width: 50%;
}

.englobe {
    display: flex;

}

.liste {
    padding: 0;
}

.fa-shield-virus:before {
    color: red;
}

ul {
    list-style-type: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    color: rgb(153, 153, 153);
    font-family: poppins;
    font-size: 17px;
}

.btn {
    display: flex;
    justify-content: center;
}

.order {
    margin-right: 10px;
    background-color: red;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.free {
    background-color: transparent;
    border: solid 1px;
    border-color: white;
    border-radius: 5px;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.why {
    margin-top: 40px;
}

.pourquoi {
    text-align: center;
}

.paragwhy {
    margin: 0;
    padding: 0;
}

.titrewhy {
    margin-top: 20px;
    margin-bottom: 20px;
}

.englobecarte {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.card {
    background-color: rgb(25, 25, 25);
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 15px;
}

.cartewhy {
    margin-top: 30px;
}

.iconcarte {
    display: flex;
    background-color: rgb(32, 32, 32);
    justify-content: center;
    align-items: center;
    width: 45px;
    padding: 10px;
    border-radius: 5px;
}

.iconcarte:hover {
    background-color: #aa2e26;
    transition: .2s;
}

.imgcarte:hover {
    filter: brightness(200%) contrast(100%);
    transition: .2s;
}

.titrecarte {
    font-family: Fjalla One;
    font-size: 25px;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}

.advanced {
    display: flex;
    margin: 0 auto;
    width: 80%;
    padding-top: 70px;
}

.cyberred {
    color: #aa2e26;
}

.btn_adv {
    margin-top: 40px;
}

.contact {
    color: white;
    border: solid 1px white;
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
}


.carte_projet {
    align-content: center;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
}

.card_projet {
    background-color: rgb(25, 25, 25);
    padding: 30px 50px 30px 50px;
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 15px;
    width: 75%;
}

.rowun {
    display: flex;
    margin:auto;
    margin-right: -5px;
}

.rowdeux {
    display: flex;
    margin:auto;    
    margin-left: -5px;
}


.titre_carte_projet {
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(100, 100, 100);
    font-size: 23px;
}

.count {
    font-size: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titre_temoignage {
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    align-content: center;
}

.temoignage {
    padding-bottom: 70px;
}

.client_temoi {
    margin-bottom: 10px;
}

.soustitre_tem {
    color: rgb(145, 145, 145);
}

.carteclient {
    display: flex;
    flex-direction: row;
    padding-top: 70px;
    width: 80%;
    margin: 0 auto;
}

.clientdroit {
    background-color: rgb(25, 25, 25);
    margin-right: 100px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
}

.clientgauche {
    background-color: rgb(25, 25, 25);
    margin-left: 100px;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
}

.descclient {
    color: #919191;
}

.clientparam {
    display: flex;

}

.photoclient {
    border-radius: 50%;
}

.clientinfo {
    margin-top: -45px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.clientnom {
    margin-bottom: -15px;
}

.clientposte {
    color: #aa2e26;
}

.noteclient {
    display: flex;
}

.notesvg {
    margin-top: -10px;
    width: 25px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(102%) contrast(102%);
}

.toustem {
    text-align: center;
    margin-top: 70px;
}

.temclient {
    color: white;
    border: solid 1px rgb(145, 145, 145);
    border-radius: 5px;
    padding: 15px 10px 15px 10px;
}

.temclient:hover {
    background-color: white;
    color: black;
    transition: .3s;
}

.newsletter {
    border-radius: 10px;
    margin: 0 auto;
    width: 55%;
    text-align: center;
    background-color: transparent;
    background-image: linear-gradient(140deg, #f43334 0%, #131313 55%);
    padding: 5px 50px 50px 50px;
}

.titrenewsletter {
    margin-bottom: 5px;
}

.paragnewsletter {
    margin-bottom: 30px;
    color: white;
}

.formulairenewsletter {
    margin: 0 auto;
    align-items: center;
    background-color: white;
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.formnewsletter {
    width: 120%;
}

.inputmail {
    border-color: transparent;
    font-size: 15px;
    margin-left: -70px;
    margin-right: 100px;
    font-family: Poppins;
}

.inputbtn {
    border-color: transparent;
    background-color: red;
    color: white;
    width: 25%;
    padding: 20px 15px 20px 15px;
    border-style: none;
    border-radius: 5px;
    font-family: Poppins;
    font-size: 15px;
}

/**Version mobile**/

@media (max-width:768px) {
    .sectionun {
        height: 400px;
    }

    .titre {
        font-size: 30px;
    }

    .paragabout {
        font-size: 15px;
    }

    .ariane {
        font-size: 14px;
    }

    .cyber {
        width: 60%;
    }

    .titre_cyber {
        font-size: 22px;
    }

    .cyberleft {
        padding-top: 0px;
    }

    .btn {
        padding-bottom: 20px;
    }

    .cyberright {
        margin-left: 25px;
    }

    .imageabout {
        padding-top: 45px;
    }

    .paragcyber {
        font-size: 12px;
    }

    li {
        font-size: 12px;
    }

    .order {
        font-size: 11px;
        padding: 10px 10px 10px 10px;
    }

    .free {
        font-size: 11px;
        padding: 10px 10px 10px 10px;
    }

    .titrewhy {
        font-size: 25px;
    }

    .paragwhy {
        font-size: 15px;
    }

    .englobecarte {
        width: 90%;
        justify-content: center;
    }

    .card {
        margin: 0 15px 0 15px;
        padding: 15px;
    }

    .iconcarte {
        width: 25px;
        height: 25px;
        justify-content: start;
    }

    .imgcarte {
        width: 25px;
    }

    .titrecarte {
        font-size: 16px;
        margin-bottom: -5px;
    }

    .paragcarte {
        font-size: 12px;
    }

    .lienwhy {
        font-size: 12px;
    }

    .imgadvanced{
        width: 80%;
        padding-top: 40px;
    }

    .contact {
        font-size: 10px;
    }

    .advanced {
        margin-bottom: 80px;
    }

    .rowun {
        margin-left: auto;
    }

    .card_projet {
        width: 40%;
        align-content: center;
        align-items: center;
        padding: 15px 50px 15px 25px;
        margin-right: 20px;
        margin-left: 10px;
    }

    .count {
        font-size: 25px;
    }

    .carte_projet {
        width: 95%;
        justify-content: center;
    }

    .titre_carte_projet {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .client_temoi {
        font-size: 25px;
    }

    .temoignage {
        padding-top: 30px;
    }

    .soustitre_tem {
        margin: 5px 50px 5px 50px;
    }

    .clientgauche {
        margin-right: 0px;
        padding: 0px 15px 0px 15px;

    }

    .clientdroit {
        margin-right: -65px;
        padding: 0px 15px 0px 15px;

    }

    .descclient {
        font-size: 12px;
    }

    .photoclient {
        width: 60px;
    }

    .clientnom {
        font-size: 18px;
    }

    .clientposte {
        padding-top: 10px;
        font-size: 11px;
    }

    .notesvg {
        margin-top: -7px;
        width: 17px;

    }

    .temclient {
        font-size: 13px;
    }

    .formulairenewsletter {
        width: 95%;
    }

    .inputmail {
        margin-left: -50px;
        margin-right: 35px;
    }

    .inputbtn {
        padding: 10px 15px 10px 15px;
    }
}

@media (max-width:375px) {
    .sectionun {
        height: 440px;
    }

    .titre_cyber {
        font-size: 14px;
    }

    .cyber {
        width: 80%;
        padding-left: 15px;
        padding-right: 5px;
    }

    .paragcyber {
        font-size: 10px;
    }

    li {
        font-size: 9px;
    }

    ul {
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .btn {
        display: flex;
        flex-direction: column;
    }

    .order {
        margin-right: 40px;
        text-align: center;
        padding: 10px 5px 10px 5px;
        margin-bottom: 5px;
    }

    .free {
        margin-right: 40px;
        margin-left: 0px;
        text-align: center;
        padding: 10px 5px 10px 5px;
    }

    .card {
        margin: 0 5px 0 5px;
        padding: 15px;
    }

    .titrecarte {
        font-size: 10px;
    }

    .paragcarte {
        font-size: 9px;
    }

    .lienwhy {
        font-size: 9px;
    }

    .advanced {
        width: 90%;
        margin-bottom: 0px;
    }

    .cyberright {
        margin-left: 0px;
        padding-top: 50px;
    }

    .imgadvanced{
        padding-top: 15px;
    }

    .titre_cyber {
        font-size: 12px;
    }

    .paragcyber {
        font-size: 9px;
    }

    .contact {
        font-size: 9px;
        padding: 10px 10px 10px 10px;
    }

    .btn_adv {
        margin-top: 20px;
    }

    .rowun {
        flex-direction: column;
        margin-right: -125px;
    }

    .rowdeux {
        flex-direction: column;
    }

    .count {
        font-size: 20px;
    }

    .titre_carte_projet {
        font-size: 16px;
        margin-bottom: 0px;
    }

    .iconcarte {
        width: 15px;
        height: 15px;
    }

    .imgcarte {
        margin-left: -5px;
    }

    .card_projet {
        padding: 10px 10px 15px 10px;
        margin-left: 75px;
        margin-right: 120px;
        margin-bottom: 10px;
    }

    .carte_projet {
        width: 75%;
        padding-top: 50px;
    }

    .temoignage {
        padding-top: 0px;
        padding-bottom: 40px;
    }

    .titre_temoignage {
        margin-top: 45px;

    }

    .carteclient {
        flex-direction: column;
        padding-top: 20px;
    }

    .clientdroit {
        margin-right: 0px;
        padding: 0px 15px 0px 15px;
    }

    .clientgauche {
        margin-left: 0px;
        margin-top: 10px;
    }

    .toustem {
        margin-top: 30px;
    }

    .newsletter {
        padding: 5px 45px 20px 45px;
    }

    .titrenewsletter {
        font-size: 15px;
    }

    .paragnewsletter {
        margin-bottom: 20px;
        font-size: 10px;
        text-align: justify;
    }

    .inputmail {
        font-size: 10px;
        margin-left: -30px;
        margin-right: -20px;
    }

    .inputbtn {
        font-size: 10px;
        padding: 5px 0px 5px 5px;
    }
}