.background-first-section {
    background: rgb(170, 46, 38);
    background: -moz-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgba(0, 0, 0, 1) 41%);
    background: -webkit-linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgba(0, 0, 0, 1) 41%);
    background: linear-gradient(150deg, rgba(170, 46, 38, 1) 0%, rgba(0, 0, 0, 1) 41%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#aa2e26", endColorstr="#000000", GradientType=1);
}

.container-section-1 {
    /* margin-left: 15px;
    margin-right: 15px; */
    width: 100%;
    display: flex;
}

.container-section-1 .col-1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container-section-1 .col-2 {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.container-section-1 .col-2 img {
    width: 50%;
}

@media(max-width:545px) {}