@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/**Paramétrage**/

.btn-cta {
    color: white;
    border-radius: 8px;
    background-color: rgb(216, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-cta:hover {
    background-color: rgb(160, 7, 7);
}

h1 {
    font-family: Fjalla One;
    font-size: 30px;
    color: white;
}

h2 {
    font-family: Fjalla One;
    font-size: 28px;
    color: white;
}

h3 {
    font-family: Fjalla One;
    font-size: 27px;
    color: white;
}

h4 {
    font-family: Fjalla One;
    font-size: 26px;
    color: white;
}

h5 {
    font-family: Fjalla One;
    font-size: 25px;
    color: white;
}

h6 {
    font-family: Fjalla One;
    font-size: 25px;
    color: white;
}

p {
    /* font-family: Poppins; */
    font-size: 15px;
    color: white;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
    /* font-family: poppins; */
}

a
/**--------------NavBar-------------------**/

nav {
    width: 100%;
    height: 80px;
    background: transparent;
    display: flex;
    align-items: stretch;
    justify-content: start;
}

nav .menu-left {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 300px;
}

nav .menu-left svg {
    height: 60px;
}

nav .menu-center {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}

nav .menu-center a {
    display: flex;
    align-items: center;
    justify-content: start;
    color: white;
    margin-right: 15px;
    border-bottom: solid 3px transparent;
}

nav .menu-center a:hover {
    color: rgb(216, 0, 0);
    border-bottom: solid 3px rgb(216, 0, 0);
}

nav .menu-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}


/**Corp de page **/

section.global {
    background-color: rgb(32, 32, 32);
}

ul{
    list-style-type: none;
}