    @import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    /**Paramétrage**/
    
    .btn-cta {
        color: white;
        border-radius: 8px;
        background-color: rgb(216, 0, 0);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .btn-cta:hover {
        background-color: rgb(160, 7, 7);
    }
    
    h1 {
        font-family: Fjalla One;
        font-size: 30px;
        color: white;
    }
    
    h2 {
        font-family: Fjalla One;
        font-size: 28px;
        color: white;
    }
    
    h3 {
        font-family: Fjalla One;
        font-size: 27px;
        color: white;
    }
    
    h4 {
        font-family: Fjalla One;
        font-size: 26px;
        color: white;
    }
    
    h5 {
        font-family: Fjalla One;
        font-size: 25px;
        color: white;
    }
    
    h6 {
        font-family: Fjalla One;
        font-size: 25px;
        color: white;
    }
    
    p {
        font-family: Poppins;
        font-size: 15px;
        color: white;
    }
    
    body {
        margin: 0;
        padding: 0;
    }
    
    a {
        color: white;
        text-decoration: none;
        font-family: poppins;
    }
    
    .p-2 {
        padding: 20px;
    }
    
    .m-2 {
        margin: 20px;
    }
    
    .bg-grey {
        background-color: rgb(32, 32, 32);
    }
    
    .w-100 {
        width: 100%;
    }
    
    .card {
        background-color: rgb(25, 25, 25);
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        /* padding-left: 15px;
    padding-right: 15px; */
    }
    
    @media (min-width: 576px) {
        .container {
            max-width: 540px;
        }
    }
    
    @media (min-width: 768px) {
        .container {
            max-width: 720px;
        }
    }
    
    @media (min-width: 992px) {
        .container {
            max-width: 960px;
        }
    }
    
    @media (min-width: 1200px) {
        .container {
            max-width: 1140px;
        }
    }
    
    @media(min-width: 545px) {
        .col {
            flex: 1;
            width: 50%;
        }
    }
    /**--------------NavBar-------------------**/
    
    nav#main-menu {
        width: 100%;
        height: 80px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: start;
    }
    
    nav#main-menu .menu-left {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 300px;
    }
    
    nav#main-menu .menu-left svg {
        height: 60px;
    }
    
    #slide-menu .low-menu {
        display: none;
    }
    
    nav#main-menu .menu-center a:hover {
        color: rgb(216, 0, 0);
        border-bottom: solid 3px rgb(216, 0, 0);
    }
    
    nav#main-menu .menu-right {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 20px;
    }
    
    #main-menu .mask-menu {
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
    }
    
    #slide-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
    }
    
    #slide-menu>ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
    }
    
    #slide-menu ul>li {
        position: relative;
    }
    
    #slide-menu>ul>li>a {
        font-family: poppins;
        padding: 0.25rem 10px;
        transition: all ease 0.2s;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        white-space: nowrap;
        text-transform: uppercase;
        position: relative;
        border-bottom: solid 3px transparent;
    }
    
    #slide-menu ul>li>a:hover,
    #slide-menu ul>li:hover>a {
        color: rgb(216, 0, 0);
        border-bottom: solid 3px rgb(216, 0, 0);
    }
    
    #slide-menu ul>li.active>a {
        color: rgb(216, 0, 0);
        border-bottom: solid 3px rgb(216, 0, 0);
    }
    
    #burger {
        display: none;
        cursor: pointer;
    }
    
    @media(max-width:800px) {
        #slide-menu {
            position: fixed;
            top: 80px;
            left: -350px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            width: 300px;
            height: calc(100vh - 80px);
            padding: 1rem 0;
            background: rgb(5, 4, 20);
            background: linear-gradient(220deg, rgba(5, 4, 20, 1) 0%, rgba(134, 19, 19, 1) 0%, rgba(0, 0, 0, 1) 64%);
            transition: left 0.2s ease;
        }
        #slide-menu ul>li {
            position: unset;
        }
        #slide-menu ul {
            width: 100%;
            flex-wrap: wrap;
            padding: 0;
        }
        #main-menu.menu-open #slide-menu {
            left: 0;
        }
        #slide-menu ul>li>a {
            height: auto;
            padding: 0.6rem 1rem;
            justify-content: flex-start;
            border-top: none;
            border-bottom: none !important;
            width: calc(100% - 2rem);
            margin-left: 1rem;
        }
        #slide-menu .low-menu {
            margin-left: 1rem;
        }
        #slide-menu ul>li {
            width: 100%;
        }
        #main-menu.menu-open .mask-menu {
            top: 80px;
            left: 0px;
            display: block;
            position: fixed;
            width: 100vw;
            height: calc(100vh - 80px);
        }
        #burger {
            right: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 60px;
            width: 60px;
            cursor: pointer;
            transition: transform 400ms;
            user-select: none;
        }
        #burger.active {
            transform: rotate(45deg);
        }
        #burger .line {
            fill: none;
            transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
            stroke: white;
            stroke-width: 3;
            stroke-linecap: round;
        }
        #burger .top {
            stroke-dasharray: 40 121;
        }
        #burger .bottom {
            stroke-dasharray: 40 121;
        }
        #burger.active .top {
            stroke-dashoffset: -68px;
        }
        #burger.active .bottom {
            stroke-dashoffset: -68px;
        }
        #main-menu .menu-right {
            margin-left: auto;
            /* width          : 100%; */
            justify-content: space-around;
        }
        #main-menu .menu-right .icon-menu {
            margin: 0 auto;
        }
    }
    
    @media(max-width:545px) {
        #slide-menu .low-menu {
            display: flex;
            width: 100%;
        }
        nav#main-menu .menu-right {
            display: none;
        }
        nav#main-menu {
            justify-content: space-between;
        }
    }
    /**Corp de page **/
    
    div.global {
        background-color: rgb(32, 32, 32);
        padding-bottom: 30px;
    }
    
    ul {
        list-style-type: none;
    }
    /** Footer **/
    
    footer {
        background: no-repeat url("img/Fond_footer.jpeg");
        background-position: center;
        background-size: cover;
    }
    
    .footer-container {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas: "slot-1 slot-2 slot-3 slot-4";
    }
    
    .slot-1 {
        margin-left: 20px;
        margin-right: 10px;
        grid-area: slot-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .slot-1 .svg-logo-footer {
        max-width: 150px;
    }
    
    .slot-2 {
        grid-area: slot-2;
    }
    
    .slot-3 {
        grid-area: slot-3;
    }
    
    .slot-4 {
        grid-area: slot-4;
    }
    
    @media(max-width:1020px) {
        .footer-container {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: "slot-1 slot-1 slot-1" "slot-2 slot-3 slot-4";
        }
    }
    
    @media(max-width:540px) {
        .footer-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 0px 0px;
            grid-template-areas: "slot-1" "slot-2" "slot-3" "slot-4";
        }
    }
    
    .insta,
    .fb,
    .twitter,
    .git {
        width: 20px;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(106deg) brightness(102%) contrast(102%);
    }
    
    i.fa-solid.fa-caret-right {
        margin-right: 5px;
        color: #aa2e26;
    }
    
    .svg {
        width: 20%;
    }
    
    .titrecol,
    .textcolun,
    .footerlastcol {
        color: #999;
    }
    
    .footerlastcol {
        font-size: 12px;
    }
    
    .spanred {
        color: #aa2e26;
    }
    
    .listefooter {
        padding-inline-start: 0px;
        color: #999;
    }

    .lienfooter{
        color: #999;
        transition: .3s;
    }

    .lienfooter:hover{
        color: #aa2e26;
        transition: .3s;
    }
    
    .listecol {
        font-size: 12px;
        color: #999;
    }